@import '@styles/common.scss';


.hot-posts-section {
    padding-left: 1rem;
    position: sticky;
    right: 0;
    top: 50px;
    .section-title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 600;
    }
    .hot-posts {
        .hot-post-preview {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
            &:hover {
                .number {
                    border: 1px solid $primary-color
                }
                .title {
                    cursor: pointer;
                    color: $primary-color;
                }
            }
            .number {
                text-align: center;
                line-height: 2rem;
                min-width: 2rem;
                height: 2rem;
                border-radius: 1rem;
                border: 1px solid $dark-color;
                margin-right: 1rem;
            }
            .content {
                .title {
                    max-width: 25rem;
                    width: 100%;
                }
            }

        }
    }
}