@import '@styles/common.scss';

.cta-me-btn {
    width: 12rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: white;
    font-size: 1.25rem;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    border-radius: 2px;
    i {
      color: white;
    }
    &:hover {
      background-color: #fff;
      color: $primary-color;
      border: 1px solid $primary-color;
      i {
        color: $primary-color;
      }
    }
  }