@import "@styles/common.scss";

.nav-bar-desk {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 4rem;
  .logo {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: $dark-color;
  }
  .menu {
    display: flex;
    .menu-item {
      margin: 0 0.5rem;
      text-decoration: none;
      color: $dark-color;
      padding: 0.25rem 0;
      font-size: 0.9rem;
      @include desktop {
        margin: 0 1rem;
        font-size: 1rem;
      }
      &:hover {
        color: $primary-color;
        font-weight: 600;
      }
    }
    .active {
      color: $primary-color;
      font-weight: 600;
      border-bottom: 1px solid $primary-color;
    }
  }
}
