@import '@styles/common.scss';

.blog-page {
    padding: 3rem;
    display: flex;
    .left-section {
        width: 100%;

        @include desktop {
            width: 66.6%;
        }
    }
    .right-section {
        width: 33.3%;
        display: none;
        @include desktop {
            display: block;
        }
    }
}