// Colors

$primary-color: #0c7489;
$primary-color-light: #ade1eb;
$dark-color: #202224;
$light-color: #f7f9f9;
$error: #fd4f60;
$error-light: #ffacb4;
$green: #00bd9d;
$box-shadow-light: rgb(202, 202, 202);
$box-shadow-dark: rgb(198, 198, 198);
$lightest-grey: rgb(244, 244, 244);
$darker-grey: #848484;

// Responsive
$mobile-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-l-width: 1440px;
