// Colors

$primary-color: #0C7489;
$primary-color-light: #ade1eb;
$dark-color: #202224;
$light-color: #F7F9F9;
$error: #fd4f60;
$error-light: #ffacb4;
$green: #00BD9D;
$box-shadow-light: rgb(202, 202, 202);
$box-shadow-dark: rgb(198, 198, 198);
$lightest-grey: rgb(244, 244, 244);

// Responsive
$mobile-width: 425px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  
$desktop-l-width: 1440px;  