@import "../../styles/common.scss";

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 4rem;
  .logo {
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;
      color: $dark-color;
  }
  .menu {
    // font-size: 0.9rem;
    display: flex;
    .menu-item {
      margin: 0 1rem;
      text-decoration: none;
      color: $dark-color;
      padding: 0.25rem 0;
      &:hover {
        color: $primary-color;
      font-weight: 600;

      }
    }
    .active {
      color: $primary-color;
      font-weight: 600;
      border-bottom: 1px solid $primary-color;
    }
  }
}
