@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: showUp 0.2s ease-in-out;
  .dialog-container {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 8px rgb(122, 122, 122);
    border-radius: 2px;
  }
}
