@import "@styles/common.scss";

.chip {
    padding: 0.25rem 1rem;
    border-radius: 18px;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-size: 0.9rem;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}