@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './styles/common.scss';

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $dark-color;
}
